---
import Footer from "~/components/Footer.astro";
import Navbar from "~/components/Navbar.astro";
import { formatDate } from "~/lib/formatter";
import { BlogPost, getPosts, getPrevAndLast } from "~/lib/posts";
import BaseLayout from "~/layouts/BaseLayout.astro";

const [prevPost, nextPost] = await getPrevAndLast(Astro.url.pathname);

export async function getStaticPaths() {
  const blogPost = await getPosts();

  return blogPost.map((post) => ({
    params: { slug: post.slug },
    props: { entry: post },
  }));
}

const entry = Astro.props.entry as BlogPost;
const { Content } = await entry.render();
---

<BaseLayout frontmatter={entry}>
  <div class="flex flex-col min-h-screen p-8 sm:px-4">
    <div class="max-w-3xl w-full mx-auto">
      <Navbar />

      <main class="mt-32 md:mt-16 mx-auto flex-grow">
        <h1 class="text-xl mb-8 font-bold max-w-[40rem] mx-auto">
          {entry.data.title}
        </h1>

        <small class="max-w-[40rem] mx-auto">
          {formatDate(entry.data.date)} ・ {entry.data.readingTime} min read
        </small>

        <article class="mt-8 prose dark:prose">
          <Content />
        </article>

        <div
          class="mt-6 pt-6 border-t border-wash-light border-solid text-center prose max-w-[40rem] mx-auto"
        >
          <div class="flex flex-row justify-between">
            {prevPost ? <a href={prevPost.url}>&lt;- Prev post</a> : <span />}

            {nextPost ? <a href={nextPost.url}>Next post -&gt;</a> : <span />}
          </div>

          <p>Want to talk about this? Feel free to reach me on the web:</p>
        </div>
      </main>
    </div>

    <footer class="mt-8">
      <Footer />
    </footer>
  </div>
</BaseLayout>
