---
permalink: "blog/index.html"
layout: layouts/page.liquid
title: Blog
description: A software developer.
---

<link href="/assets/styles/prism.css" rel="stylesheet" data-helmet />

<div class="Blog-intro">
  <h2>Blog</h2>

  <p>My thoughts on making computers do stuff.</p>
</div>

<ul>
  {% for post in collections.posts reversed %}
  <li class="Blog-title">
    <a href="{{ post.url }}">
      <h3>{{ post.data.title }}</h3>
    </a>

    <small>
      {{ post.data.date | formatDate }} ・
      {{ post.templateContent | readingTime }} min read
    </small>

    <p>{{ post.data.description }}</p>
  </li>
  {% endfor %}
</ul>
