---
import { Markdown } from "astro-remote";
import { formatDate } from "~/lib/formatter";
import { getPosts } from "~/content/posts";

const posts = await getPosts();
---

<ul class="space-y-10">
  {
    posts.map((entry) => (
      <>
        <li class="border-b border-solid border-wash-light pb-10">
          <a rel="prefetch" href={entry.url}>
            <h3 class="text-xl text-accent">{entry.data.title}</h3>
          </a>

          <small class="mt-2">
            {formatDate(entry.data.date)} ・ {entry.data.readingTime} min read
          </small>

          <div class="prose mt-4">
            <Markdown content={entry.data.description} />
          </div>
        </li>
      </>
    ))
  }
</ul>
