---
import Markdown from "@astrojs/markdown-component";
import { getPosts } from "../lib/posts";
---

<ul class="space-y-10">
  {
    getPosts().map((post) => (
      <>
        <li class="pb-10 border-b border-wash-light border-solid">
          <a href={post.url}>
            <h3 class="text-xl text-accent">{post.title}</h3>
          </a>

          <small class="mt-2">
            {post.formattedDate} ・ {post.readingTime} min read
          </small>

          <div class="mt-4 prose">
            <Markdown content={post.description} />
          </div>
        </li>
      </>
    ))
  }
</ul>
