---
import { ViewTransitions } from "astro:transitions";
import "~/styles/index.css";

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
}

const defaultTitle = "Francisco Sousa";
const defaultDescription =
  "Hi, I'm Francisco and I'm a software engineer that does computer stuff.";
const defaultKeywords =
  "software, engineering, frontend, react, svelte, zustand, redux, rails, elixir, phoenix, discord, blog, web, css, javascript, html, node, typescript";
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta
      name="google-site-verification"
      content="FDXItIKO2EOVckY3y3tYZhrA8Lj6gvClq-108dEOpO0"
    />
    <title>
      {
        Astro.props.title
          ? `${Astro.props.title} | Francisco Sousa`
          : defaultTitle
      }
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content={Astro.props.description || defaultDescription}
    />
    <meta name="keywords" content={Astro.props.keywords || defaultKeywords} />
    <meta property="og:title" content={Astro.props.title} />
    <meta
      property="og:description"
      content={Astro.props.description || defaultDescription}
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content={new URL(Astro.url.pathname, Astro.site).toString()}
    />
    <meta name="twitter:card" content="summary" />
    <meta property="twitter:domain" content={Astro.site?.hostname} />
    <meta
      property="twitter:url"
      content={new URL(Astro.url.pathname, Astro.site).toString()}
    />
    <meta name="twitter:title" content={Astro.props.title} />
    <meta name="twitter:description" content={Astro.props.description} />

    {
      import.meta.env.MODE === "production" && (
        <script
          is:inline
          data-goatcounter="https://jfranciscosousa.goatcounter.com/count"
          async
          src="//gc.zgo.at/count.js"
        />
      )
    }

    <script is:inline>
      function setDarkMode() {
        if (
          localStorage.theme === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      }
      setDarkMode();
      document.addEventListener("astro:after-swap", setDarkMode);
    </script>

    <ViewTransitions />
  </head>

  <body>
    <slot />
  </body>
</html>
