---
import Footer from "~/components/Footer.astro";
import Navbar from "~/components/Navbar.astro";
import { formatDate } from "~/lib/formatter";
import { getPrevAndLast } from "~/lib/posts";
import EmptyLayout from "./EmptyLayout.astro";

const { frontmatter } = Astro.props;
const [prevPost, nextPost] = getPrevAndLast(Astro.url.pathname);
---

<EmptyLayout {...Astro.props}>
  <div class="flex flex-col min-h-screen p-8 sm:px-4">
    <div class="max-w-3xl w-full mx-auto">
      <Navbar />

      <main class="mt-32 mx-auto flex-grow">
        <h1 class="text-2xl mb-8 font-bold max-w-[40rem] mx-auto">
          {frontmatter.title}
        </h1>

        <small class="max-w-[40rem] mx-auto">
          {formatDate(frontmatter.date)} ・ {frontmatter.readingTime} min read
        </small>

        <article class="mt-8 prose dark:prose">
          <slot />
        </article>

        <div
          class="mt-6 pt-6 border-t border-wash-light border-solid text-center prose max-w-[40rem] mx-auto"
        >
          <div class="flex flex-row justify-between">
            {nextPost ? <a href={nextPost.url}>&lt;- Next post </a> : <span />}

            {prevPost ? <a href={prevPost.url}>Prev post -&gt;</a> : <span />}
          </div>

          <p>Want to talk about this? Feel free to reach me on the web:</p>
        </div>
      </main>
    </div>

    <footer class="mt-8">
      <Footer />
    </footer>
  </div>
</EmptyLayout>
